 .main-wrapper{
    
    
    box-shadow: 4px 4px 4px lightgray;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}
.fa-refresh{
    margin-right: 10px;
}

.add input {
    border-style: hidden;
    height: 35px;
    width: 99%;
  }

  .mylist{
    display: flex;
    margin-bottom: 10px;
    margin-top: -10px;
    justify-content: space-between;
    border-bottom: 1px solid;
    width: auto;
}

#checkbox{
    width: 20px;
}
  
.description{
    display: flex;
    width: 90%;
}

[contenteditable] {
    outline: 0px solid transparent;
  }

.uil-ellipsis-v{
    align-self: center;
    
}

.clear{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 244, 240);
    margin-top: -10px;
    margin-bottom: -9px;
    height: 55px;
    border: none;
    
}
.clear button{
    border: none;
    background-color: rgb(248, 244, 240);
}

.fa-trash-o{
    position: absolute;
    right: 0px;
     z-index: 9999;
     margin-right: 10px;
}